body {
  font-family: Arial, sans-serif;
}
.container-center {
  display: flex;
  width: 30%;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  margin: auto;
  margin-top: 40px;

  padding-bottom: 130px;

}
.container-center h2 {
  font-size: large;
}
.container-center h1 {
  font-size: xx-large;
  font-weight: bolder;
}
.container-center p {
  font-weight: bold;
}
.container-center form {
  width: 100%;
  margin: auto;
}
.container-center-input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 16px;
  outline: none;
  width: 100%;
  margin: auto;
}
.registerbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio input {
  /*all: revert;*/
  /*	display: flex;
      justify-content: left;
      align-items: flex-start;*/
}
.container-center button {
  display: flex;
  background: limegreen;
  width: 50%;
  border-radius: 24px;
  outline: none;
  box-shadow: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 32px;
  /*text-align: center;*/
  margin: auto;
  text-decoration: none;
  display: inline-block;
  /*align-items: center;*/
}

