@{
    ViewData["Title"] = "Author";
}
<body>
    <div class="main">
        <div class="user-nav">
            <div class="head">
                <div class="head-nav">
                    <div class="navigation-arrows">
                        <svg viewBox="0 0 24 24" class="_6be6d9f3103325b95e6d4c0f6b10b783-scss"><path fill="currentColor" d="M15.54 21.15L5.095 12.23 15.54 3.31l.65.76-9.555 8.16 9.555 8.16"></path></svg>
                        <svg viewBox="0 0 24 24" class="_6be6d9f3103325b95e6d4c0f6b10b783-scss"><path fill="currentColor" d="M7.96 21.15l-.65-.76 9.555-8.16L7.31 4.07l.65-.76 10.445 8.92"></path></svg>
                    </div>
                </div>
                <div class="user">
                    <button class="reg">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    <button class="log">ВОЙТИ</button>
                </div>
            </div>
            <div class="search"> 
                <form class="search" action="">
                    <input class="search-field" type="text" placeholder="Поиск">
                    <button class="search-butt" type="submit"><svg viewBox="0 0 512 512" width="27" height="27" xmlns="http://www.w3.org/2000/svg"><path d="M349.714 347.937l93.714 109.969-16.254 13.969-93.969-109.969q-48.508 36.825-109.207 36.825-36.826 0-70.476-14.349t-57.905-38.603-38.603-57.905-14.349-70.476 14.349-70.476 38.603-57.905 57.905-38.603 70.476-14.349 70.476 14.349 57.905 38.603 38.603 57.905 14.349 70.476q0 37.841-14.73 71.619t-40.889 58.921zM224 377.397q43.428 0 80.254-21.461t58.286-58.286 21.461-80.254-21.461-80.254-58.286-58.285-80.254-21.46-80.254 21.46-58.285 58.285-21.46 80.254 21.46 80.254 58.285 58.286 80.254 21.461z" fill="currentColor" fill-rule="evenodd"></path></svg></button>
                </form>
            </div>
            <div class="search-tracks">
                <div class="tracks">
                    <div class="track">
                        <div style="display: flex;">
                            <img class= "track-logo" src="img/DJS2P9.jpg" alt="">
                            <p class="track-name">The White Stripes - The Cold, Cold Night</p>
                        </div>
                        <img class="track-play" src="img/play-button-svgrepo-com.svg" alt="">
                </div>
            </div>
            </div>
            
            <p class="notfound">Ничего не найдено.</p>
        </div>
    </div>
</body>