@model PlaylistViewModel

@using Microsoft.AspNetCore.Identity
@using Spotidie.DAL.EF

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Author";
    int count = 0;
}
<div class="main">
<div class="user-nav">
    <div class="author-card">
        <div class="author-img" style="width: 600px;height: 600px;background-image: url( @Html.DisplayFor(model => model.PlaylistAvatar));" alt="avatar"></div>
        <div class="author-info">

            <p class="author-name">@Html.DisplayFor(model => model.PlaylistName)</p>
        </div>

        @foreach (var item in Model.Tracks)
        {
            <div class="tracks">
                <div class="track">
                    <div style="display: flex;">
                        <img class="track-logo" src="@Html.DisplayFor(modelItem => item.TrackAvatar)" alt="">
                        <p class="track-name">@Html.DisplayFor(modelItem => item.TrackName)</p>
                    </div>
                    
                    @* <button id="playTrack" onClick="playPause()" style="background-image: url(img/play-button-svgrepo-com.svg);" class="track-play"> *@
                                            <audio src="~/temp/MORGEN.mp3" controls>
                                            </audio>
                                            @* Play *@
                                        @* </button> *@
                    
                                        <script>
                                              var aud = document.getElementById("playTrack").children[0];
                                              var isPlaying = false;
                                              aud.pause();
                                            
                                              function playPause() {
                                               if (isPlaying) {
                                                  aud.pause();
                                               } else {
                                                  aud.play();
                                                }
                                                isPlaying = !isPlaying;
                                              }
                                            </script>
                </div>
            </div>
        }
        <div style="width: 1px; height: 100px;"></div>
    </div>
</div>
</div>