@using Microsoft.AspNetCore.Identity
@using Spotidie.DAL.EF

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script type="text/javascript" src="~/js/signalr/dist/browser/signalr.min.js"></script>
<script type="text/javascript" src="~/js/signalr/dist/browser/signalr.js"></script>

<div class="user-nav">
    <div class="head">
        @* <div class="head-nav"> *@
        @*     <div class="navigation-arrows"> *@
        @*         <svg viewBox="0 0 24 24" class="_6be6d9f3103325b95e6d4c0f6b10b783-scss"> *@
        @*             <path fill="currentColor" d="M15.54 21.15L5.095 12.23 15.54 3.31l.65.76-9.555 8.16 9.555 8.16"></path> *@
        @*         </svg> *@
        @*         <svg viewBox="0 0 24 24" class="_6be6d9f3103325b95e6d4c0f6b10b783-scss"> *@
        @*             <path fill="currentColor" d="M7.96 21.15l-.65-.76 9.555-8.16L7.31 4.07l.65-.76 10.445 8.92"></path> *@
        @*         </svg> *@
        @*     </div> *@
        @* </div> *@
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new {area = ""})">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-white">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </div>

    <div class="container" style="margin: 120px; align-content: flex-start; justify-content: flex-start">
        <div class="col-8" style="color: white; margin: 5px">User</div>
        <div class="col-8" style="margin: 5px">
            @if (SignInManager.IsSignedIn(User))
            {
                <input type="text" id="userInput" value="@UserManager.GetUserName(User)"/>
            }
            else
            {
                <input type="text" id="userInput" value=""/>
            }
        </div>
        <div class="col-8" style="color: white; margin: 5px">Message</div>
        <div class="col-8" style="margin: 5px">
            <input type="text" id="messageInput"/>
        </div>
        <div class="col-8" style="margin: 5px">
            <input type="button" id="sendButton" value="Send Message" class="registerbtn"/>
        </div>
        <div class="col-8" style="margin: 5px">
            <ul id="messagesList"></ul>
        </div>
    </div>

</div>
<script src="~/js/chat.js"></script>