@using Microsoft.AspNetCore.Identity
@using Spotidie.DAL.EF

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="user-nav">
</div>
<div class="main-mail" style="margin-top: 100px">
    <div style="display: flex; flex-direction: column; align-items: center; height: 100%; width: 100%;margin-bottom : 100px; justify-content: center; margin: 20px;color: white">
        <form method="post" class="container" style="justify-content: flex-start
                                                  
">
            <div class="row" style="width: 80%">
                <div class="col-sm">
                    <p>Имя</p>
                    <input type="text" placeholder="Phone number, username, or email" name="name">
                </div>
                <div class="col-sm">
                    <p>Эл. почта</p>
                    <input type="text" placeholder="Phone number, username, or email" name="email">
                </div>
            </div>

            <div class="row" style="width: 80%">
                <div class="col-sm">
                    <p>Телефон</p>
                    <input type="text" name="phonenumber">
                </div>
                <div class="col-sm">
                    <p>Адрес</p>
                    <input type="text" name="adress">
                </div>
            </div>

            <div class="row" style="width: 80%;">
                <div class="col-sm">
                    <p>Тема</p>
                    <input type="text" name="title">
                </div>
            </div>
            <div class="row" style="width: 80%">
                <div class="col-sm">
                    <p>Сообщение</p>
                    <input type="text" name="messagetitle">
                </div>
            </div>

            <button asp-controller="Home" asp-action="SendMail" asp-area="" style="margin-top: 8px; margin-right: 40px; margin-left: 40px; margin-bottom: 8px; justify-content: flex-start; align-items: stretch; background-color: white;
    opacity: 1; border: 1px solid transparent; font-family: Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px; text-decoration-color: white;">
                Отправить
            </button>
            @*<button asp-controller="MainPage" asp-action="SendMail" asp-area="" type="button" class="btn btn-dark registration-button" style="width: 80%">Отправить</button>*@

        </form>
        <title>Определение местоположения пользователя</title>
        <script src="https://maps.api.2gis.ru/2.0/loader.js"></script>
        <div id="map" style="width: 80%; height: 800px;"></div>
        <script>
                DG.then(function() {
                    var map;
    
                    map = DG.map('map', {
                        center: [54.98, 82.89],
                        zoom: 13
                    });
    
                    map.locate({setView: true, watch: true})
                        .on('locationfound', function(e) {
                            DG.marker([e.latitude, e.longitude]).addTo(map);
                        })
                        .on('locationerror', function(e) {
                            DG.popup()
                              .setLatLng(map.getCenter())
                              .setContent('Доступ к определению местоположения отключён')
                              .openOn(map);
                        });
                });
            </script>

    </div>
</div>